.calendar {
  padding: 40px;
  height: 100vh;
  background-color: #f3f3f3;
  display: flex;

  &__header {
    ::ng-deep .mat-card-header-text {
      display: none;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 8px;

    label {
      margin: 0;
    }

    .icons {
      i {
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  &__content {
    max-width: 300px;
    max-height: 220px;
  }

  .days-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .day {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 4px;
    }

    .today {
      background-color: #00000029;
    }

    .selected {
      color: #fff;
      font-weight: bold;
      background-color: #0063be;
    }
  }

  .hours-list {
    width: 100%;
  }
}
