<div class="calendar-panel">
  <div class="title-day">
    <h2>{{selectedDay?.day}}</h2>
  </div>
  <div>{{selectedDay?.weekDay}}</div>
  <mat-list>
    <mat-list-item *ngFor="let hour of hourList" (click)="openCard(hour)">{{hour.time}} {{hour.period}}
      <div *ngFor="let item of schedule" (click)="openCardWithInfo(item, $event)">
        <div *ngIf="item.timeStart == hour.time && item.period == hour.period" class="appointment">
          <p>
            {{item.title}}
          </p>
          {{item.timeStart}}:00 - {{item.timeFinish}}:00 {{item.period}}
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
<app-calendar-card (toggleForm)="toogleCard($event)" [scheduleSelected]="scheduleSelected"
  [dateTimeSelected]="dateTimeSelected" *ngIf="openForm">
</app-calendar-card>
