.calendar-panel {
  padding-left: 20px;

  .title-day {
    background-color: #0063be;
    width: 30px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      margin: 0;
      color: #fff;
    }
  }
  .mat-list-item {
    cursor: pointer;
    border-bottom: 1px solid #dedede;
    height: 60px;

    .appointment {
      width: 100%;
      margin-left: 20px;
      background-color: #0063be;
      border-radius: 4px;
      color: #fff;
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
  }
}
